<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="emp1" class="beans.Employee" factory-method="createEmployeeInstance" factory-bean="factory">
        <property name="empId" value="101"/>
        <property name="name" value="Abdul Katheer"/>
        <property name="dept" value="Dev"/>
        <property name="salary" value="870000"/>
    </bean>

    <bean id="factory" class="beans.FactoryBean"/>
</beans>